/*
 * SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.select2-container {
    width: 100% !important;
    max-width: 500px !important;
}

.select2-selection {
    background-color: white !important;
    border: 1px solid #aaa !important;
    border-radius: 0 !important;
}

.select2-selection__choice {
    border: 1px solid #aaa !important;
    background-color: #eee !important;
    border-radius: 2px;
}

.select2-search__field {
    border: 0;
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa !important;
}