[submodule "data/nexB-scancode-licensedb"]
	path = data/nexB-scancode-licensedb
	url = https://github.com/nexB/scancode-licensedb
[submodule "data/spdx-license-list-data"]
	path = data/spdx-license-list-data
	url = https://github.com/spdx/license-list-data
[submodule "data/finos-OSLC-handbook"]
	path = data/finos-OSLC-handbook
	url = https://github.com/finos/OSLC-handbook
[submodule "data/org-metaeffekt-metaeffekt-universe"]
	path = data/org-metaeffekt-metaeffekt-universe
	url = https://github.com/org-metaeffekt/metaeffekt-universe
[submodule "data/openSUSE-cavil"]
	path = data/openSUSE-cavil
	url = https://github.com/openSUSE/cavil
[submodule "data/librariesio-license-compatibility"]
	path = data/librariesio-license-compatibility
	url = https://github.com/librariesio/license-compatibility
[submodule "data/HansHammel-license-compatibility-checker"]
	path = data/HansHammel-license-compatibility-checker
	url = https://github.com/HansHammel/license-compatibility-checker
[submodule "data/okfn-licenses"]
	path = data/okfn-licenses
	url = https://github.com/okfn/licenses
[submodule "data/oslic"]
	path = data/oslic
	url = https://github.com/telekom/oslic
[submodule "data/wking-licenses-full/fsf-api"]
	path = data/wking-licenses-full/fsf-api
	url = https://github.com/wking/fsf-api
[submodule "data/gh-pages"]
	path = data/gh-pages
	url = https://github.com/wking/fsf-api
[submodule "data/fsf-api"]
	path = data/fsf-api
	url = https://github.com/wking/fsf-api
	branch = gh-pages
[submodule "data/wking-fsf-api"]
	path = data/wking-fsf-api
	url = https://github.com/wking/fsf-api
	branch = gh-pages
[submodule "data/warpr-licensedb"]
	path = data/warpr-licensedb
	url = https://github.com/warpr/licensedb
[submodule "data/Hitachi-open-license"]
	path = data/Hitachi-open-license
	url = https://github.com/Hitachi/open-license
[submodule "data/ifrOSS-ifrOSS"]
	path = data/ifrOSS-ifrOSS
	url = https://github.com/ifrOSS/ifrOSS
[submodule "data/fedora-legal-fedora-license-data"]
	path = data/fedora-legal-fedora-license-data
	url = https://gitlab.com/fedora/legal/fedora-license-data
[submodule "data/github-choosealicense.com"]
	path = data/github-choosealicense.com
	url = https://github.com/github/choosealicense.com/
[submodule "data/ErikMcClure-bad-licenses"]
	path = data/ErikMcClure-bad-licenses
	url = https://github.com/ErikMcClure/bad-licenses
[submodule "data/AmadeusITGroup-oscad2"]
	path = data/AmadeusITGroup-oscad2
	url = https://github.com/AmadeusITGroup/oscad2/
[submodule "data/OpenSourceOrg-licenses"]
	path = data/OpenSourceOrg-licenses
	url = https://github.com/OpenSourceOrg/licenses
[submodule "old-ldbcollector"]
	path = old-ldbcollector
	url = https://github.com/maxhbr/ldbcollector
[submodule "data/fedora-modularity-check_modulemd"]
	path = data/fedora-modularity-check_modulemd
	url = https://github.com/fedora-modularity/check_modulemd
[submodule "data/hermine-project-hermine"]
	path = data/hermine-project-hermine
	url = https://gitlab.com/hermine-project/hermine.git
[submodule "data/google-licensecheck"]
	path = data/google-licensecheck
	url = https://github.com/google/licensecheck
[submodule "data/google-licenseclassifier"]
	path = data/google-licenseclassifier
	url = https://github.com/google/licenseclassifier
