*.log
*.pot
*.pyc
__pycache__
/static/
/vrac/
variousScripts
db.sqlite3
shared.sqlite3
shared.json
**.css.map
docs/build/
.vscode/
.coverage
.idea
hermine.iml
**/.DS_Store
hermine/hermine/VERSION.txt
.ruff_cache

# Secrets are secrets
hermine/hermine/mysecrets.py
.env
