---

# SPDX-FileCopyrightText: 2021 Double Open by HH Partners, Attorneys-at-law, Ltd <doubleopen@hhpartners.fi>
# SPDX-License-Identifier: CC0-1.0

extends: default

rules:
  line-length:
    max: 100
  truthy: disable
