Babel==1.3
Chameleon==2.15
flake8==2.1.0
Jinja2==2.7.2
lingua==2.1
Mako==0.9.1
MarkupSafe==0.21
mccabe==0.2.1
PasteDeploy==1.5.2
pep8==1.5.6
polib==1.0.4
pyflakes==0.8.1
Pygments==1.6
pyramid==1.5
pyramid-debugtoolbar==2.0.2
pyramid-jinja2==2.0
pyramid-mako==1.0.1
pyScss==1.2.0.post3
pytz==2014.2
PyYAML==3.11
repoze.lru==0.6
six==1.6.1
translationstring==1.1
venusian==1.0a8
waitress==0.8.8
WebOb==1.3.1
wsgiref==0.1.2
zope.deprecation==4.1.1
zope.interface==4.1.1
