# This file is consumed by docker compose for
# configuration of Hermine
#
# Change values, copy this file to .env
# and run `docker compose --profile (localhost|https) -up`

HERMINE_SECRET=RANDOMSTRINGFORSECURITY
# PORT=9000                 # required for localhost profile
# HERMINE_HOST=example.com  # required for https profile

#
# OAuth settings
# OAUTH_CLIENT_ID =
# OAUTH_DOMAIN =
# OAUTH_CLIENT_SECRET =
# OAUTH_SCOPE =   # list of scope separated by ','
# OAUTH_ID_KEY =
# OAUTH_TOKEN_URL =
# OAUTH_AUTHORIZE_URL =
# OAUTH_USER_URL =
# OAUTH_USERNAME_PROPERTY = 