# Change values, copy this file to .env
# and run `docker-compose --profile (localhost|https) -up`

HERMINE_SECRET=RANDOMSTRINGFORSECURITY
# PORT=9000                 # required for localhost profile
# HERMINE_HOST=example.com  # required for https profile