<!--
SPDX-FileCopyrightText: Viktor Kuzhelny https://github.com/vikdiesel/admin-one-bulma-dashboard/
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: MIT
-->

<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    {% load static %}
    <link rel="preload" href="{% static 'cube/css/main.min.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'cube/css/main.min.css' %}">
    <link rel="preload" href="{% static 'cube/css/fontawesome-free-all.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'cube/css/fontawesome-free-all.css' %}">
      <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <title>{% block title %}{% endblock %} - Hermine</title>
  </head>
  <body>
    <div id="app">
      <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
          <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
            <span class="icon"><i class="fas fa-bars"></i></span>
          </a>
        </div>
        <div class="navbar-brand is-right">
          <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
            <span class="icon"><i class="fas fa-ellipsis-v"></i></span>
          </a>
        </div>
        <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="{% url 'admin:auth_user_change' user.id %}">
              <div class="is-user-avatar">
                <span class="icon"><i class="fas fa-user"></i> </span>
              </div>
              <div class="is-user-name">
                <span>{%if user.first_name or user.last_name %}{{user.first_name}} {{user.last_name}}{%else%}{{user.username}}{%endif%}</span>
              </div>
            </a>
            <a title="Log out" class="navbar-item is-desktop-icon-only" href="{% url 'logout' %}">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
              <span>Log out</span>
            </a>
          </div>
        </div>
      </nav>
      <aside class="aside is-placed-left is-expanded">
        <div class="aside-tools">
          <div class="aside-tools-label">
            <span><b>Hermine</b></span>
          </div>
        </div>
        <div class="menu is-menu-main">
          <p class="menu-label">General</p>
          <ul class="menu-list">
            <li>
              <a href="/" class="has-icon">
                <span class="icon"><i class="fas fa-chart-pie"></i></span>
                <span class="menu-item-label">Dashboard</span>
              </a>
            </li>
          </ul>
          <p class="menu-label">Development</p>
          <ul class="menu-list">
            <li>
              <a href="{% url 'cube:products' %}" class="has-icon">
                <span class="icon"><i class="fas fa-cubes"></i></span>
                <span class="menu-item-label">Your Products</span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:components' %}" class="has-icon">
                <span class="icon"><i class="fas fa-puzzle-piece"></i></span>
                <span class="menu-item-label">3rd p. Components</span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:import_bom' %}" class="has-icon">
                <span class="icon"><i class="fas fa-file-import"></i></span>
                <span class="menu-item-label">Import BoM</span>
              </a>
            </li>
          </ul>
          <p class="menu-label">Legal</p>
          <ul class="menu-list">
            <li>
              <a href="{% url 'cube:licenses' 1 %}" class="has-icon">
                <span class="icon"><i class="fas fa-balance-scale"></i></span>
                <span class="menu-item-label">Licences</span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:generics' %}" class=" has-icon">
                <span class="icon"><i class="fas fa-award"></i></span>
                <span class="menu-item-label">OS Policy</span>
              </a>
            </li>
          </ul>

          <p class="menu-label">About</p>
          <ul class="menu-list">
            <li>
              <a href="/admin" class="has-icon">
                <span class="icon"><i class="fas fa-cogs"></i></span>
                <span class="menu-item-label">Admin</span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:about' %}" class="has-icon">
                <span class="icon"><i class="far fa-question-circle"></i></span>
                <span class="menu-item-label">About</span>
              </a>
            </li>
          </ul>

        </div>
      </aside>


      <section class="section is-main-section content">
      {% block content %}
      {% endblock %}
      </section>

      <footer class="footer">
        <div class="container-fluid">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                © 2021, Hermine project contributors
              </div>
              <div class="level-item">
                <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard" style="height: 20px">

                </a>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <div class="logo">
                  <a href="https://inno3.fr"><img src="{% static 'cube/media/LogoHermine.svg' %}" alt="Hermine project Logo"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <script type="text/javascript" src="{% static 'cube/js/main.min.js' %}"></script>
  </body>
</html>

