<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Generic obligation{{ generic.name }}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:generics' %}">Generic obligations</a></li>
  <li>{{ generic.name|truncatechars:42 }}</li>
</ul>
{% endblock %}

{% block actions %}
  <a class="button" href="/admin/cube/generic/{{generic.id}}/change/" target="_blank">
    <span class="icon">
      <i class="fas fa-edit"></i>
    </span>
    <span>Edit this generic obligation</span>
  </a>
{% endblock %}

{% block herozone %}
<div class="hero-body">
  <p class="title">{{ generic.name }}</p>
</div>
{% endblock %}
{% block infoitem %}
  <p class="subtitle" style="text-transform: uppercase;">
    <span class="icon is-medium">
      <i class="fas fa-award"></i>
    </span>
    Generic obligation
  </p>
{% endblock %}
{% block content %}
<section class="card">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="fas fa-info-circle"></i></span>
      Features of this generic obligation
    </p>
  </header>
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <p>Core status:
            {% if generic.in_core %}
              <span class="tag is-light is-medium">In core</span>
            {% else %}
              <span class="tag is-dark is-medium">Out of core</span>
            {% endif %}
          </p>

          <p>Number of linked obligations: {{ generic.obligation_set.all|length }}</p>
        </div>

        <div class="column">
          <p>Metacategory: <span class="tag is-primary is-medium">{{generic.metacategory}}</span></p>
          <p>Team: <span class="tag is-link is-medium">{{generic.team.name}}</span></p>
          <p>Passivity: {{generic.passivity}}</p>
        </div>

        <div class="column">
          <p>Description: </p>
          <blockquote>{{ generic.description }}</blockquote>
        </div>

    </div>
  </section>

  <section class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon">
          <i class="fas fa-balance-scale"></i>
        </span>
        Related licenses
      </p>
    </header>
    <div class="card-content">
      <p>
        {% for obligation in generic.obligation_set.all %}
          <a href="#{{ obligation.license.spdx_id }}">
          <span class="tag {{ obligation.license|licenseAllowedCSS }}">
            {{ obligation.license.spdx_id }}
          </span>
        </a>
        {% endfor %}
      </p>
    </div>
  </section>

  <h3 class="title is-3">Related individual obligations</h3>
    {% for obligation in generic.obligation_set.all %}
      <div class="card">
        <header class="card-header">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <p class="card-header-title" id="{{ obligation.license.spdx_id }}">{{ obligation.name }}</p>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p>
                  <a href="/license/{{obligation.license.id}}">
                    <span class="tag {{ obligation.license|licenseAllowedCSS }}">
                      <i class="fas fa-balance-scale"> </i> . {{ obligation.license.spdx_id }}
                    </span>
                  </a>
                </p>
              </div>
            </div>
        </header>
        <div class="card-content">
          <div class="content">
            « {{ obligation.verbatim }} »
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
