<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}Import{% endblock %}

{% block content %}
  <h1>Importing Analyzer results</h1>

  {% if status == "error" %}
    <article class="message is-danger">
      <div class="message-header">
        <p>Failure</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-danger"><i class="fas fa-exclamation-triangle"></i></span> The file you choose do not match the format you choose.
      </div>
    </article>
  {% elif status == "success" %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-box"></i></span>
        You successfully uploaded your file to Hermine.
        Go check the validation steps you need to achieve at the relevant
        <b><a href="{% url 'cube:release_synthesis' release_id %}"> release page</a></b>.
      </div>
    </article>
  {% endif %}
  <div class="box">
    <form action="{% url 'cube:import_bom' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <table>
        {{ form }}
        <tr>
          <td></td>
          <td><button class="button is-primary">Import now</button></td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}
