<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}{{ license.long_name }} {% endblock %}

{% block content %}
  <h1 class="title is-1">{{ license.long_name }}</h1>
  <h2 class="subtitle is-4">SPDX ID : {{ license.spdx_id }}</h2>

                                              <div class="field has-addons">
  <p class="control">
    <a href="/admin/cube/license/{{license.id}}/change/" target="_blank" class="button">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit this licence </span>
    </a>
  </p>
  <p class="control">
    <a href="export/" class="button">
      <span class="icon is-small">
        <i class="fas fa-download"></i>
      </span>
      <span>Export this licence as JSON</span>
    </a>
  </p>
  <p class="control">
    <a href="print/" class="button">
      <span class="icon is-small">
        <i class="fas fa-print"></i>
      </span>
      <span>Print this licence (ODT export)</span>
    </a>
  </p>
  <p class="control">
    <a href="https://spdx.org/licenses/{{ license.spdx_id }}.html" target="_blank" class="button">
      <span class="icon is-small">
        <i class="fas fa-link"></i>
      </span>
      <span>View SPDX page</span>
    </a>
  </p>
</div>

        <p> Validation :
          <span class="tag
            {% if license.color == "Green" %}
              is-success
              {% elif license.color == "Orange" %}
              is-warning
              {% elif license.color == "Red" %}
              is-danger
              {% else %}
              is-dark
            {% endif %}">
            {{ license.get_color_display }}
          </span>
        </p>
        <p>Copyleft :
          <span class="tag
            {% if license.copyleft == "None" %}
              is-success
              {% elif license.copyleft == "Weak" %}
              is-warning
              {% elif license.copyleft == "Strong" or license.copyleft == "Network" or license.copyleft == "NetworkWeak" %}
              is-danger
              {% else %}
              is-dark
            {% endif %}">
            {{ license.get_copyleft_display|default:"Unknown" }}
          </span>
        </p>
        <p>
          Actually FOSS :
          <span class="tag
            {% if license.foss == "Yes" or license.foss == "Yes-Auto" %}
              is-success
              {% elif license.foss == "No" or license.foss == "No-Auto" %}
              is-danger
              {% else %}
              is-warning
            {% endif %}">
            {{ license.get_foss_display|default:"Unknown" }}
          </span>
        </p>
          <p>Jurisdictional clause : <strong>{{ license.law_choice|default:"None" }}</strong></p>

        {% if inspiration %}

            <p>Is inspired by <a href="{% url 'cube:license' inspiration.id %}">{{inspiration.long_name}}</a></p>
            {% elif license.inspiration_spdx %}
              <p>Is inspired by {{license.inspiration_spdx}}</p>

        {% endif %}
        {% if orphan_obligations|length == 0 and obligations_in_generic|length == 0 %}

            <button class="tag is-success">This license is covered by the obligations in the core</button>

        {% endif %}



  {% if license.comment %}
    <div class="box">
      <p><b>Your comment :</b></p>
      <p>{{ license.comment }}</p>
    </div>
  {% endif %}

  {% if orphan_obligations %}
    <h2 class="subtitle is-2">Obligations that are specific to this license</h2>
    {% for obligation in orphan_obligations %}
      <h3 class="subtitle is-3">{{ obligation.name }}</h3>
      <h4 class="title is-4"> {{ obligation.passivity }}</h4>
      {% if obligation.passivity == "Active" %}
        Applies if:
        <ul><li>{{ obligation|getModifTriggerOblig }}</li>
        <li> {{ obligation|getExplTriggerOblig }}</li></ul>
      {% endif %}
      <blockquote>{{ obligation.verbatim}}</blockquote>
    {% endfor %}
  {% endif %}

  {% if obligations_in_generic %}
    <h2 class="subtitle is-2">Obligations that are related to a generic obligation that is <b>not</b> part of the core</h2>
    {% for obligation in obligations_in_generic %}
      <h3 class="subtitle is-3">{{ obligation.name }}</h3>
      <h4 class="title is-4"> Generic : <a href="/admin/cube/generic/{{obligation.generic.id}}/change/" target="_blank">{{obligation.generic}}</a> </h4>
      <h4 class="title is-4">{{ obligation.passivity }}</h4>
      {% if obligation.passivity == "Active" %}
        Applies if:
        <ul><li>{{ obligation|getModifTriggerOblig }}</li>
        <li> {{ obligation|getExplTriggerOblig }}</li></ul>
      {% endif %}
      <blockquote>{{ obligation.verbatim }}</blockquote>
    {% endfor %}
  {% endif %}

  {% if obligations_in_core %}
    <h2 class="subtitle is-2">Obligations that are related to a generic obligation that is part of the core</h2>
    {% for obligation in obligations_in_core %}
      <h3 class="subtitle is-3"> {{ obligation.name }}</h3>
      <h4 class="title is-4"> Generic : <a href="/admin/cube/generic/{{obligation.generic.id}}/change/" target="_blank">{{obligation.generic}}</a> </h4>
      <h4 class="title is-4">{{ obligation.passivity }}</h4>
      {% if obligation.passivity == "Active" %}
        Applies if:
        <ul><li>{{ obligation|getModifTriggerOblig }}</li>
        <li> {{ obligation|getExplTriggerOblig }}</li></ul>
      {% endif %}
      <blockquote>{{ obligation.verbatim}}</blockquote>
    {% endfor %}
  {% endif %}
{% endblock %}
