<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}Licenses{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li>Licenses</li>
</ul>
{% endblock %}
{% block actions %}
<form class="import_licenses" id="import_licenses" enctype="multipart/form-data" action="{% url 'cube:import_licenses' %}" method="post">
  {% csrf_token %}
  <div class="field has-addons">
    <p class="control">
      <input class="input" name="file" type="file" placeholder="Your email">
    </p>
    <p class="control">
      <button class="button" value="Import JSON" type="submit"><span class="icon">
            <i class="fas fa-file-import"></i>
          </span>
          <span>Import</span></button>
    </p>
  </div>
</form>

<a class="button" href="/admin/cube/license/add/" target="_blank">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Create a new licence</span>
          </a>

          <a href="{% url 'cube:export_licenses' %}" class="button">
            <span class="icon">
                <i class="fas fa-file-export"></i>
              </span>
              <span>Export</span>
          </a>
{% endblock %}
{% block herozone %}
<h1 class="title">
  <span class="icon is-medium">
  <i class="fas fa-balance-scale"></i>
  </span>
Licenses
</h1>
{% endblock %}
{% block content %}


<div class="container is-fluid">

  <p></p>

  <section class="section box">
    <h3>Need to import licence(s)?</h3>
    <form class="import_licenses" id="import_licenses" enctype="multipart/form-data" action="{% url 'cube:import_licenses' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="button" value="Import" type="submit">
          <span class="icon">
            <i class="fas fa-file-import"></i>
          </span>
          <span>Import</span>
        </button>
    </form>
  </section>

  <!--
    FIRST TEST TO ADD A FILTER BAR
    <section class="section box">
    <div class="columns">
      <div class="column">
        Number of licence in the database :
      </div>

      <div class="column">
        FILTER BAR
      </div>

      <div class="column">
        <button class="button is-link">FILTER</button>
      </div>
    </div>
  </section> -->

  <nav class="pagination" role="navigation" aria-label="pagination">
    {% if licenses.has_previous %}
      <a class="pagination-previous" href="/licenses/{{ licenses.previous_page_number }}">Previous</a>
    {% else %}
      <a class="pagination-previous is-disabled" aria-disabled="true" disabled title="This is the first page">First page</a>
    {% endif %}

    <span class="pagination-list">
      Page {{ licenses.number }} of {{ licenses.paginator.num_pages }}.
    </span>

    {% if licenses.has_next %}
    <a class="pagination-next" href="/licenses/{{ licenses.next_page_number }}">Next</a>
    {% else %}
      <a class="pagination-next is-disabled" disabled aria-disabled="true" title="This is the last page">Last page</a>
    {% endif %}
  </nav>


  <table class="table">
    <thead>
      <tr>
        <th>Color</th>
        <th>SPDX ID</th>
        <th>License Name</th>
        <th>Obligations Qty</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for license in licenses %}
        <tr>
          <td>
            {% if license.color == "Green" %}
              <span class="tag is-success">
                {% elif license.color == "Orange" %}
                  <span class="tag is-warning">
                {% elif license.color == "Red" %}
                  <span class="tag is-danger">
                {% elif license.color == "Grey" %}
                  <span class="tag is-light">
                {% else %}
                  <span class="tag is-dark">
              {% endif %}
                {{ license.get_color_display }}
            </span>
          </td>
          <td><a href="{% url 'cube:license' license.id %}" >{{ license.spdx_id }}</td>
          <td>{{ license.long_name }}</td>
          <td> 
            {% if license.color == "Grey" %}
              Unknown
              {% else %}
                {{ license.obligation_set.all|length }}
            {% endif %}
          </td>
          <td><a href="{% url 'cube:license' license.id %}">Details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav class="pagination" role="navigation" aria-label="pagination">
    {% if licenses.has_previous %}
      <a class="pagination-previous" href="/licenses/{{ licenses.previous_page_number }}">Previous</a>
    {% else %}
      <a class="pagination-previous is-disabled" aria-disabled="true" disabled title="This is the first page">First page</a>
    {% endif %}

    <span class="pagination-list">
      Page {{ licenses.number }} of {{ licenses.paginator.num_pages }}.
    </span>

    {% if licenses.has_next %}
    <a class="pagination-next" href="/licenses/{{ licenses.next_page_number }}">Next</a>
    {% else %}
      <a class="pagination-next is-disabled" disabled aria-disabled="true" title="This is the last page">Last page</a>
    {% endif %}
  </nav>

</div>

{% endblock %}
