<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ license.long_name }}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:license_list' %}">Licenses</a></li>
    <li><a href="{% url "cube:license_detail" license.id %}">{{ license.spdx_id }}</a></li>
    <li>Edit</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">Edit license</h1>
{% endblock %}

{% block content %}
  <form method="post" style="max-width: 50rem">
    {% csrf_token %}
    {{ form.errors }}
    {% for title, group_fields, collapsible_sections in form.fieldset_groups %}
      {% include "django/forms/fieldset_card.html" %}
      {% if title == "Usage" %}
        <section class="card mb-5">
          <header class="card-header">
            <p class="card-header-title">Explicit compatibilities</p>
          </header>
          <div class="card-content">
            <div class="tags">
              {% for compatibility in object.compatibility_from.all %}
                <span class="tag {{ compatibility.to_license|licenseAllowedCSS }}">
                  {{ compatibility.to_license.spdx_id }}
                  ({{ compatibility.get_direction_display }})&nbsp;<a href="{% url 'cube:compatibility_delete' license.pk compatibility.pk %}" class="delete" target="_blank"></a>
                </span>
              {% empty %}
                <span class="has-text-grey">No compatibilities defined.</span>
              {% endfor %}
            </div>
            <a href="{% url 'cube:compatibility_create' license.pk %}" class="button is-small is-white" target="_blank">
              <i class="fa fa-plus"></i>&nbsp;Add
            </a>
          </div>
        </section>
      {% endif %}
    {% endfor %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {{ form.media }}
    <div class="field is-grouped is-grouped-right mt-4">
      <div class="control">
        <a class="button" href="{% url "cube:license_detail" license.id %}">Cancel</a>
      </div>
      <div class="control">
        <button type="submit" class="button" name="duplicate">Save as new (duplicate)</button>
      </div>
      <div class="control">
        <button type="submit" class="button is-primary">Save</button>
      </div>
    </div>
  </form>
{% endblock %}
