<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}
{% block title %}Edit license choice rule{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li>Hermine</li>
    <li><a href="{% url 'cube:licensechoices' %}">Licenses choices</a></li>
    <li>{{ object.expression_in }}</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium"><i class="fas fa-project-diagram"></i></span>
    Edit license choice for {{ object.expression_in }}
  </h1>
{% endblock %}

{% block content %}
  <p>
    You can only change the choice for the rule context. To apply this rule to another context,
    <a href="{% url 'cube:licensechoice_add' %}">create a new rule</a> with the same expressions.
  </p>
  <form method="post">
    {% csrf_token %}
    <table>
      {% for field in form %}
        {% if field.name != 'expression_out' %}
          <tr><th>{{ field.label_tag }}</th><td>{{ field.value|default:"<em>All</em>" }}</td></tr>
        {% else %}
          <tr><th>{{ field.label_tag }}</th><td>{{ field }}<br/><span class="helptext">{{ field.help_text }}</span></td></tr>
        {% endif %}
      {% endfor %}
      <tr><th></th><td><input type="submit" value="Save" class="button is-primary"></td></tr>
    </table>
  </form>
{% endblock %}

