<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}{{ license.long_name }} {% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'cube:licenses' page=1 %}">Licenses</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ license.spdx_id }}</a></li>
{% endblock %}

{% block actions %}
  <a class="button" href="/admin/cube/license/{{license.id}}/change/" target="_blank">
    <span class="icon">
      <i class="fas fa-edit"></i>
    </span>
    <span>Edit this licence</span>
  </a>

  <div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Actions</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="export/" class="dropdown-item">
          <span class="icon is-small">
            <i class="fas fa-download"></i>
          </span>
          <span>Export as JSON</span>
        </a>
        <a href="print/" class="dropdown-item">
          <span class="icon is-small">
            <i class="fas fa-print"></i>
          </span>
          <span>Print (ODT export)</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    {{ license.long_name }}
  </h1>
{% endblock %}

{% block infoitem %}
  <p class="subtitle" style="text-transform: uppercase;">
    <span class="icon is-medium">
      <i class="fas fa-balance-scale"></i>
    </span>
    LICENCE
  </p>
{% endblock %}

{% block content %}

  <section class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon">
          <i class="fas fa-info-circle"></i> 
        </span>
        Metadata linked to this generic obligation
      </p>
    </header>
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <p>ID SPXD:
            <a href="https://spdx.org/licenses/{{ license.spdx_id }}.html" target="_blank">
              <span class="icon is-small">
                <i class="fas fa-link"></i>
              </span>
              <span> {{ license.spdx_id }}</span>
            </a>
          </p>
          <p>Review status:
            <span class="tag
              {% if license.status == "Checked" %}
                is-success
                {% elif license.status == "Pending" %}
                is-warning
                {% elif license.status == "To_Discuss" %}
                is-danger
                {% else %}
                is-dark
              {% endif %}">
              {{ license.get_status_display }}
            </span>
          </p>

          {% if orphan_obligations|length == 0 and obligations_in_generic|length == 0 %}        
          <p>
              <span class="icon">
                <i class="fas fa-check has-text-success"></i>
              </span>
              <span>This license is covered by the obligations in the core</span>
          </p>
        {% else %}
          <p>
            <span class="icon has-text-grey"><i class="fas fa-times"></i></span>
            This license is NOT covered by the obligations in the core
          </p>
        {% endif %}
         
        </div>
        <div class="column">
          <p>Validation :
            <span class="tag
              {% if license.color == "Green" %}
                is-success
                {% elif license.color == "Orange" %}
                is-warning
                {% elif license.color == "Red" %}
                is-danger
                {% else %}
                is-dark
              {% endif %}">
              {{ license.get_color_display }}
            </span>
          </p>
          <p>Copyleft :
            <span class="tag
              {% if license.copyleft == "None" %}
                is-success
                {% elif license.copyleft == "Weak" %}
                is-warning
                {% elif license.copyleft == "Strong" or license.copyleft == "Network" or license.copyleft == "NetworkWeak" %}
                is-danger
                {% else %}
                is-dark
              {% endif %}">
              {{ license.get_copyleft_display|default:"Unknown" }}
            </span>
          </p>
          <p>Actually FOSS :
            <span class="tag
              {% if license.foss == "Yes" or license.foss == "Yes-Auto" %}
                is-success
                {% elif license.foss == "No" or license.foss == "No-Auto" %}
                is-danger
                {% else %}
                is-warning
              {% endif %}">
              {{ license.get_foss_display|default:"Unknown" }}
            </span>
          </p>
        </div>

        <div class="column">
          <p>Jurisdictional clause : 
            <strong>{{ license.law_choice|default:"None" }}</strong>
          </p>

          <!-- Show optionnal comment -->
          {% if license.comment %}
            <div class="box">
              <p><b>Your comment :</b></p>
              <p>{{ license.comment }}</p>
            </div>
          {% else %}
            <p>Comment: <i>no comment</i></p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>


  <h3 class="title is-3">Obligations</h3>
  

  <div class="tabs is-centered is-boxed">
    <ul>
      <li class="is-active"><a href="#specific">Specific to this licence</a></li>
      <li><a href="#generic-out">Generic obligation, not core</a></li>
      <li><a href="#generic-in">Generic obligation, in core</a></li>
    </ul>
  </div>

  <section id="specific">

    <article class="message is-info">
      <div class="message-body">
        Obligations that are specific to this license
      </div>
    </article>


    {% if orphan_obligations %}
      {% for obligation in orphan_obligations %}
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ obligation.name }}
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <i> {{ obligation.passivity }}</i>
              {% if obligation.passivity == "Active" %}
                Applies if:
                <ul><li>{{ obligation|getModifTriggerOblig }}</li>
                <li> {{ obligation|getExplTriggerOblig }}</li></ul>
              {% endif %}
              <br>
              <blockquote>{{ obligation.verbatim}}</blockquote>
            </div>
          </div>
          
        </div>
      {% endfor %}
    {% else %}
      <article class="message is-warning">
        <div class="message-body">
          <i>No obligation here.</i>
        </div>
      </article>
    {% endif %}
  </section>




  <div class="tabs is-centered is-boxed">
    <ul>
      <li><a href="#specific">Specific to this licence</a></li>
      <li class="is-active"><a href="#generic-out">Generic obligation, not core</a></li>
      <li><a href="#generic-in">Generic obligation, in core</a></li>
    </ul>
  </div>

  <section id="generic-out">
    <article class="message is-info">
      <div class="message-body">
        Obligations that are related to a generic obligation that is <b>not</b> part of the core
      </div>
    </article>

    {% if obligations_in_generic %}
      {% for obligation in obligations_in_generic %}
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ obligation.name }}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p> Generic : <a href="/admin/cube/generic/{{obligation.generic.id}}/change/" target="_blank">{{obligation.generic}}</a> </p>
            <p>{{ obligation.passivity }}</p>
            {% if obligation.passivity == "Active" %}
              Applies if:
              <ul><li>{{ obligation|getModifTriggerOblig }}</li>
              <li> {{ obligation|getExplTriggerOblig }}</li></ul>
            {% endif %}
            <br>
            <blockquote>{{ obligation.verbatim }}</blockquote>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <article class="message is-warning">
        <div class="message-body">
          <i>No obligation here.</i>
        </div>
      </article>
    {% endif %}
  </section>



  <div class="tabs is-centered is-boxed">
    <ul>
      <li><a href="#specific">Specific to this licence</a></li>
      <li><a href="#generic-out">Generic obligation, not core</a></li>
      <li class="is-active"><a href="#generic-in">Generic obligation, in core</a></li>
    </ul>
  </div>

  <section id="generic-in">
    <article class="message is-info">
      <div class="message-body">
        Obligations that are related to a generic obligation that is part of the core
      </div>
    </article>
    

    {% if obligations_in_core %}
      {% for obligation in obligations_in_core %}
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ obligation.name }}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p> Generic : <a href="/admin/cube/generic/{{obligation.generic.id}}/change/" target="_blank">{{obligation.generic}}</a> </p>
            <p>{{ obligation.passivity }}</p>
            {% if obligation.passivity == "Active" %}
              Applies if:
              <ul>
                <li>{{ obligation|getModifTriggerOblig }}</li>
                <li> {{ obligation|getExplTriggerOblig }}</li>
              </ul>
            {% endif %}
            <blockquote>{{ obligation.verbatim}}</blockquote>
          </div>
        </div>
      </div>
      
      {% endfor %}
    {% else %}
      <article class="message is-warning">
        <div class="message-body">
          <i>No obligation here.</i>
        </div>
      </article>
    {% endif %}
  </section>


  
{% endblock %}
