<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ license.long_name }}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:license_list' %}">Licenses</a></li>
    <li><a href="{% url "cube:license_detail" license.id %}">{{ license.spdx_id }}</a></li>
    <li>Edit</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">Edit license</h1>
{% endblock %}

{% block content %}
  <form method="post" style="max-width: 50rem">
      {% csrf_token %}
      {{ form }}
      {{ form.media }}
      <div class="field is-grouped is-grouped-right mt-4">
        <div class="control">
          <a class="button" href="{% url "cube:license_detail" license.id %}">Cancel</a>
        </div>
        <div class="control">
          <button type="submit" class="button" name="duplicate">Save as new (duplicate)</button>
        </div>
        <div class="control">
          <button type="submit" class="button is-primary">Save</button>
        </div>
      </div>
  </form>
{% endblock %}
