<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}
{% block title %}{% if object %}Edit{% else %}Add{% endif %} curation{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:licensecurations' %}">Curations</a></li>
    <li>{% if object %}{{object.version|default:object.component}}{% else %}Add{% endif %}</li>
</ul>
{% endblock %}

{% block herozone %}
<h1 class="title">
  <span class="icon is-medium"><i class="fas fa-band-aid"></i></span>
  {% if object %}
  Edit license curation for {% if object.version %} {{ object.version }} {% else %} {{ object.component }} (any version) {% endif %}
  {% else %}
  Add license curation
  {% endif %}
</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
      <tr><th></th><td><input type="submit" value="Save"></td></tr>
    </table>
  </form>

  {% if request.resolver_match.url_name == 'release_andsvalidation_create' %}
    <p>
      Wrong license expression?
      <a href="{% url "cube:release_licensecuration_create" form.usage.pk %}">
        Correct original license expression instead</a>
    </p>
  {% endif %}

{% endblock %}

