<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ license.long_name }}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li>Hermine</li>
    <li><a href="{% url 'cube:license_list' %}">Licenses</a></li>
    <li><a href="{% url "cube:license_detail" license.id %}">{{ license.spdx_id }}</a></li>
    <li>Edit</li>
  </ul>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input type="submit" class="button is-primary" value="Save"/>
    <input type="submit" class="button" formaction="{% url 'cube:license_create' %}" value="Save as new (duplicate)" />
  </form>
{% endblock %}
