<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Product : {{ product.name }}
{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:products'%}">Products</a></li>
  <li>{{ product.name }}</li>
</ul>
{% endblock %}
{% block content %}
<h1 class="title is-1">Product : {{ product.name }}</h1>
  <p> <b>Categories:</b>
    {% for category in product.category_set.all %}
    <span class="tag is-dark"> {{ category }}</span>
    {% endfor %}
  </p>
  <p> <b>Description:</b> {{ product.description }}  <a href="/admin/cube/product/{{product.id}}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a>
  </p>
<p><b>Owner:</b> {{ product.owner }} - {{ product.owner.first_name }} {{ product.owner.last_name }}</p>

  <h2 class="title is-2">Releases for this product</h2>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Product</th>
      <th>Release</th>
      <th>Status</th>
      <th>Dependencies</th>
      <th>Validation Steps</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
{% for release in product.releases.all %}
  <a href="{% url 'cube:release_detail' release.id %}">
    <tr>
      <td>{{product.name}}</td>
      <td> <a href="{% url 'cube:release_detail' release.id %}">{{release.release_number}} </a> </td>
      <td>{{release.ship_status}}</td>
      <td>{{release.usage_set.all|length}}</td>
      <td><progress class="progress is-primary" value="{{release.valid_step|default:1}}" max="5">15%</progress></td>
      <td><a href="{% url 'cube:release_detail' release.id %}"><i class="fas fa-info-circle"></i></a> |
        <a href="{%  url "cube:release_bom" release.id %}"><i class="fas fa-upload"></i></a> |
        <a href="/admin/cube/release/{{release.id}}" target="_blank"><i class="far fa-edit"></i></a></td>

    </tr>
  </a>
{% endfor %}
</tbody>
</table>




{% endblock %}



