<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}{{ object.product.name }} {{object.release_number}}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' object.product.id %}">{{ object.product.name }}</a></li>
  <li>{{object.release_number}}</li>
  <li> Import components</li>
</ul>
{% endblock %}
{% block herozone %}
<div class="hero-body">
  <p class="title">Release: {{object.release_number}} - Import components into this release</p>
</div>
{% endblock %}
{% block content %}
<div class="tabs is-centered is-boxed is-medium">
  <ul>
    <li>
      <a href="{% url 'cube:release_summary' object.pk %}">
        <span class="icon is-small"><i class="fas fa-clipboard-list" aria-hidden="true"></i></span>
        <span>Summary</span>
      </a>
    </li>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-upload" aria-hidden="true"></i></span>
        <span>Import components</span>
      </a>
    </li>
    <li>
      <a href="/release/{{object.id}}/validation/">
        <span class="icon is-small"><i class="fas fa-check-double" aria-hidden="true"></i></span>
        <span>Validation steps</span>
      </a>
    </li>
    <li>
      <a href="{% url 'cube:release_bom_new' object.pk %}">
        <span class="icon is-small"><i class="fas fa-book" aria-hidden="true"></i></span>
        <span>Bill of Materials</span>
      </a>
    </li>
    <li>
      <a href="{% url 'cube:release_oblig' object.pk %}">
        <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
        <span>Obligations</span>
      </a>
    </li>
  </ul>
</div>
{% if messages %}
    {% for message in messages %}
    <div class="notification is-{{ message.tags }} is-light">{{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="card">
  <div class="card-content">
    <h3>Import BOM</h3>
    {% if form.errors %}
      <article class="message is-danger">
        <div class="message-header">
          <p>Failure</p>
        </div>
        <div class="message-body">
          <span class="icon has-text-danger"><i class="fas fa-exclamation-triangle"></i></span> Import failed.
        </div>
      </article>
    {% endif %}
    <form action="{% url 'cube:release_import' release.id %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <table>
        {{ form }}
        <tr>
          <td></td>
          <td><button class="button is-primary">Import now</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}

