<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load rest_framework %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

{% block title %}{{ object.product.name }} {{object.release_number}}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' object.product.id %}">{{ object.product.name }}</a></li>
  <li>{{object.release_number}}</li>
  <li>Summary</li>
</ul>
{% endblock %}
{% block actions %}
<a class="button" href="{% url "cube:release_edit" release.id %}">
  <span class="icon">
    <i class="fas fa-edit"></i>
  </span>
  <span>Edit this release</span>
</a>
{% endblock %}
{% block herozone %}
<div class="hero-body">
  <p class="title">Release: {{object.release_number}}</p>
</div>
{% endblock %}
{% block content %}
  {% include "cube/includes/release_tabs.html" with active_tab="summary" %}

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="card tile is-child">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-info-circle"></i></span>
          Release details
        </p>
      </header>
      <div class="card-content">
        <div class="field">
          <label class="label">Status</label>
          <div class="control is-clearfix">
            <input type="text" readonly value="{{release.get_ship_status_display}}" class="input is-static">
          </div>
        </div>
        <div class="field">
          <label class="label">Reference commit</label>
          <div class="control is-clearfix">
            <input type="text" readonly value="{{release.commit}}" class="input is-static">
          </div>
        </div>
        <div class="field">
          <label class="label">Publication date</label>
          <div class="control is-clearfix">
            <input type="text" readonly value="{{release.pub_date}}" class="input is-static">
          </div>
        </div>
        <div class="field">
          <label class="label">Validated steps</label>
          <div class="control is-clearfix">
            <input type="text" readonly value="{{ release.valid_step }}/4" class="input is-static">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
