<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load rest_framework %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

{% block title %}{{ object.product.name }} {{object.release_number}}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' object.product.id %}">{{ object.product.name }}</a></li>
  <li>{{object.release_number}}</li>
  <li>Summary</li>
</ul>
{% endblock %}
{% block herozone %}
<div class="hero-body">
  <p class="title">Release: {{object.release_number}}</p>
</div>
{% endblock %}
{% block content %}
  <div class="tabs is-centered is-boxed is-medium">
    <ul>
      <li class="is-active">
        <a href="#">
          <span class="icon is-small"><i class="fas fa-clipboard-list" aria-hidden="true"></i></span>
          <span>Summary</span>
        </a>
      </li>
      <li>
        <a href="/release/{{object.id}}/validation/">
          <span class="icon is-small"><i class="fas fa-check-double" aria-hidden="true"></i></span>
          <span>Validation steps</span>
        </a>
      </li>
      <li>
        <a href="/release/{{release.id}}/bom">
          <span class="icon is-small"><i class="fas fa-book" aria-hidden="true"></i></span>
          <span>Bill of Materials</span>
        </a>
      </li>
      <li>
        <a href="/release/{{release.id}}/obligations">
          <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
          <span>Obligations</span>
        </a>
      </li>
    </ul>
  </div>

<div class="tile is-ancestor">

  <div class="tile is-parent">
    <div class="card tile is-child">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-info-circle"></i></span>
          Release details
        </p>
      </header>
      <div class="card-content">
        <div class="field">
          <label class="label">Status</label>
          <div class="control is-clearfix">
            <input type="text" readonly value="{{release.get_ship_status_display}}" class="input is-static">
          </div>
        </div>
        <div class="field">
          <label class="label">Reference commit</label>
          <div class="control is-clearfix">
            <input type="text" readonly value="{{release.commit}}" class="input is-static">
          </div>
        </div>
        <div class="field">
          <label class="label">Publication date</label>
          <div class="control is-clearfix">
            <input type="text" readonly value="{{release.pub_date}}" class="input is-static">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="card tile is-child">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-upload"></i></span>
          Add components to the release
        </p>
      </header>
      <div class="card-content">
        <form action="{% url 'cube:release_bom' release.id %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <table>
            {{ bom_form }}
            <tr>
              <td></td>
              <td><button class="button is-primary">Import now</button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="fas fa-sitemap"></i></span>
      Exploitation decisions for the scopes of this release
    </p>
  </header>
  <div class="card-content">
    <form action="{% url "cube:release_summary" release.id %}" method="POST">
    <table>
      <thead>
          <tr>
            <th>Sub project</th>
            <th>Scope</th>
            <th>Components</th>
            <th>Exploitation</th>
          </tr>
      </thead>
      <tbody>
          {% csrf_token %}
          {% for scope in exploitation_form %}
            <tr>
              <td>{{ scope.project }}</td>
              <td>{{ scope.scope }}</td>
              <td>{{ scope.count }}</td>
              <td>{{ scope.field }}</td>
              {{ scope.field.errors }}
            </tr>
          {% endfor %}
        </tbody>
      <tr>
        <td></td>
        <td><button class="button is-primary">Update</button></td>
      </tr>
    </table>
  </form>
  </div>
</div>

{% endblock %}
