<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}{{ object.product.name }} {{object.release_number}}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' object.product.id %}">{{ object.product.name }}</a></li>
  <li>{{object.release_number}}</li>
</ul>
{% endblock %}
{% block actions %}
<a href="{% url 'cube:release_bom_export' object.pk %}" class="button">
  <span class="icon"><i class="fas fa-file-export"></i></span>
  <span>Export as CSV</span>
</a>
{% endblock %}<>

{% block herozone %}
<div class="hero-body">
  <p class="title">Release: {{object.release_number}}</p>
</div>
{% endblock %}
{% block content %}
<div class="tabs is-centered is-boxed is-medium">
  <ul>
    <li>
      <a href="{% url 'cube:release_summary' object.pk %}">
        <span class="icon is-small"><i class="fas fa-clipboard-list" aria-hidden="true"></i></span>
        <span>Summary</span>
      </a>
    </li>
    <li>
      <a href="/release/{{object.id}}/validation/">
        <span class="icon is-small"><i class="fas fa-check-double" aria-hidden="true"></i></span>
        <span>Validation steps</span>
      </a>
    </li>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-book" aria-hidden="true"></i></span>
        <span>Bill of Materials</span>
      </a>
    </li>
    <li>
      <a href="/release/{{object.id}}/obligations">
        <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
        <span>Obligations</span>
      </a>
    </li>
  </ul>
</div>

<div class="card">
  <div class="card-content">
    <h3>Import BOM</h3>
    {% if form.errors %}
      <article class="message is-danger">
        <div class="message-header">
          <p>Failure</p>
        </div>
        <div class="message-body">
          <span class="icon has-text-danger"><i class="fas fa-exclamation-triangle"></i></span> Import failed.
        </div>
      </article>
    {% endif %}
    <form action="{% url 'cube:release_bom' release.id %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <table>
        {{ form }}
        <tr>
          <td></td>
          <td><button class="button is-primary">Import now</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="level">
  <div class="level-left"></div>
  <div class="level-right">
    <div class="level-item">
      <a class="button" href="{% url "cube:release_bom_export" release.id %}">Export as CSV</a>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Sub project</th>
      <th>Scope</th>
      <th>Component, version</th>
      <th>Concluded License</th>
      <th>Chosen License</th>
      <th>Modification</th>
      <th>Exploitation</th>
      <th>Linking type</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>

{% for usage in object.usage_set.all %}
    <tr>
      <td><abbr title="{{ usage.project|truncatechars:50 }}">{{ usage.project|truncatechars:20 }}</abbr></td>
      <td>{{ usage.scope }}</td>
      <td><a href="{% url 'cube:component_detail' usage.version.component.id %}"> {{ usage.version.component.name }}</a> {{ usage.version.version_number }}</td>
      <td>{{ usage.version.corrected_license|default:usage.version.spdx_valid_license_expr }}</td>
      <td>{{ usage.license_expression }}</td>
      <td>
      {% if usage.component_modified == "Altered" %}
        <span class="tag is-warning">
        {% else %}
          <span class="tag is-light">
      {% endif %}
      {{ usage.component_modified }}
      </span>
      </td>
      <td>{{ usage.get_exploitation_display }}</td>
      <td>{{ usage.linking }}</td>
      <td><a href="/admin/cube/usage/{{usage.id}}/change/" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></td>
            </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

