<!--
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ object.product.name }} {{object.release_number}}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' object.product.id %}">{{ object.product.name }}</a></li>
  <li>{{object.release_number}}</li>
</ul>
{% endblock %}
{% block herozone %}
<div class="hero-body">
  <p class="title">Release: {{object.release_number}}</p>
</div>
{% endblock %}
{% block content %}
  <div class="tabs is-centered is-boxed is-medium">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fas fa-check-double" aria-hidden="true"></i></span>
          <span>Validation steps</span>
        </a>
      </li>
      <li>
        <a href="/release/{{object.id}}/exploitation">
          <span class="icon is-small"><i class="fas fa-handshake" aria-hidden="true"></i></span>
          <span>Exploitation</span>
        </a>
      </li>
      <li>
        <a href="/release/{{object.id}}/bom">
          <span class="icon is-small"><i class="fas fa-book" aria-hidden="true"></i></span>
          <span>Bill of Materials</span>
        </a>
      </li>
      <li>
        <a  href="/release/{{object.id}}/obligations">
          <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
          <span>Obligations</span>
        </a>
      </li>
    </ul>
  </div>
  {% if object.valid_step < 6 %}
    <p>You have reached validation step {{ object.valid_step }} out of 5 </p>
    <progress class="progress is-large" value="{{ object.valid_step | add:"-1" }}" max="5"></progress>
  {% else %}
    <article class="message is-success is-large">
      <div class="message-header">
        <p>Finished</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span>
          That's it ! All your usages are valid, qualified, and checked.
          You can now proceed to the check of your obligations.
      </div>
    </article>
    <hr />
  {% endif %}
  <h4 class="title is-4">Step 1 - Check that licenses are normalised</h4>

  {% if unnormalized_usages %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some licenses need to be normalized</p>
      </div>
      <div class="message-body">
        The following <strong>{{ unnormalized_usages|length }}</strong> components out <strong>{{ object.usage_set.all|length }}</strong> of have non validated licensing information, please correct them: 
      </div>
    </article>

    <progress class="progress is-success" value="{{ nb_validated_components }}" max="{{ object.usage_set.all|length }}">75%</progress>

    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>License declared</th>
          <th>SPDX expression</th>
          <th>Corrected expression</th>
          <th>Edit version</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in unnormalized_usages %}
            <tr>
              <td>{{usage.version.component.name }} </td>
              <td>{{usage.version.version_number }}</td>
              <td>{{usage.version.declared_license_expr }}</td>
              <td>{{usage.version.spdx_valid_license_expr }} </td>
              <td>{{usage.version.corrected_license }} </td>
              <td><a href="/admin/cube/version/{{usage.version.id}}/change/" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the {{ object.usage_set.all|length }} components used have normalized licensing information.
      </div>
    </article>
  {% endif %}


  <h4 class="title is-4">Step 2 - Unknown licenses</h4>
  {% if licenses_to_create %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some licenses need to be created</p>
      </div>
      <div class="message-body">
        The following licenses need to be added to the database:
      </div>
    </article>
    <ul>
      {% for license in licenses_to_create %}
        <li>{{license}} : <a href="/admin/cube/license/add/?spdx_id={{license}}" target="_blank">Create license </a> </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if licenses_to_check %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some licenses need to be qualified</p>
      </div>
      <div class="message-body">
        The following licenses need to be checked by the legal team: 
      </div>
    </article>

    <ul>
      {% for license in licenses_to_check %}
        <li>{{license.spdx_id }} : {{license.long_name }}. <a href="/admin/cube/license/{{license.id}}/change/" target="_blank">Qualify this license</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if not licenses_to_check and not licenses_to_create %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the licenses involved are known and qualified.
      </div>
    </article>
  {% endif %}


  {% if usages_lic_grey %}
    <article class="message is-dark">
      <div class="message-header">
        <p>Some components use unreviewed licenses</p>
      </div>
      <div class="message-body">
        The following <strong>N</strong> components out <strong>P</strong> use a non-reviewed licence. Please review those 
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>License declared</th>
          <th>License validated</th>
          <th>License usage</th>
          <th>Applicable Licenses</th>
          <th>Scope</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in usages_lic_grey %}
          <tr>
            <td>{{usage.version.component.name }} </td>
            <td>{{usage.version.version_number }}</td>
            <td>{{usage.version.declared_license }}</td>
            <td>{{usage.version.spdx_valid_license_expr }} </td>
            <td>{{usage.license_expression }} </td>
            <td>
              {% for license_chosen in usage.licenses_chosen.all %}
                <a href="/license/{{license_chosen.id}}"
                  <span class="tag {{ license_chosen|getColorTag }}">
                    {{ license_chosen.spdx_id }}
                  </span>
                </a>
              {% endfor %}
            </td>
            <td>{{usage.scope }}</td>
            <td><a href="/admin/cube/usage/{{usage.id}}/change/" target="_blank"<span class="icon"><i class="fas fa-edit"></i></span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <h4 class="title is-4">Step 3 - Confirm ANDs</h4>
<h5 class="title is-5">ANDs to confirm</h5>

    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>License expression</th>
          <th>License corrected</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for version in to_confirm %}
          <tr>
            <td><a href="/component/{{version.component.id}}" target="_blank">{{version.component.name }}</a> </td>
            <td><a href="/admin/cube/version/{{version.id}}/change/" target="_blank">{{version.version_number }}</a></td>
            <td>{{version.spdx_valid_license_expr }} </td>
            <td>{{version.corrected_license}}</td>
            <td><a href="/admin/cube/version/{{version.id}}/change/" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

<h5 class="title is-5">ANDs confirmed</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>License expression</th>
          <th>License corrected</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for version in confirmed %}
          <tr>
            <td><a href="/component/{{version.component.id}}" target="_blank">{{version.component.name }}</a> </td>
            <td><a href="/admin/cube/version/{{version.id}}/change/" target="_blank">{{version.version_number }}</a></td>
            <td>{{version.spdx_valid_license_expr }} </td>
            <td>{{version.corrected_license}}</td>
            <td><a href="/admin/cube/version/{{version.id}}/change/" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


<h5 class="title is-5">ANDs corrected</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>License expression</th>
          <th>License corrected</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for version in corrected %}
          <tr>
            <td><a href="/component/{{version.component.id}}" target="_blank">{{version.component.name }}</a> </td>
            <td><a href="/admin/cube/version/{{version.id}}/change/" target="_blank">{{version.version_number }}</a></td>
            <td>{{version.spdx_valid_license_expr }} </td>
            <td>{{version.corrected_license}}</td>
            <td><a href="/admin/cube/version/{{version.id}}/change/" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>



  <h4 class="title is-4">Step 4 - Resolve license choices for this release</h4>

  {% if resolved %}
    <article class="message is-success">
      <div class="message-header">
        <p>Your choices of usage</p>
      </div>
      <div class="message-body">
        You've made the licence choices for those components.
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Scope</th>
          <th>Component</th>
          <th>Version</th>
          <th>License expression</th>
          <th>Choice for this release</th>
          <th>Rules</th>
          <th>Edit usage</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in resolved %}
          <tr>
            <td>{{usage.scope}} </td>
            <td><a href="{%  url "cube:component_detail" usage.version.component.id %}" target="_blank">{{usage.version.component.name }}</a> </td>
            <td><a href="{% url "admin:cube_version_change" usage.version.id %}" target="_blank">{{usage.version.version_number }}</a></td>
            <td>{{usage.version.effective_license}}</td>
            <td>{{usage.license_expression }} </td>
            <td>
              {% if usage.license_choices|length == 1 %}
                <a href="{% url "admin:cube_licensechoice_change"  usage.license_choices.0.pk %}">Edit rule</a>
                {% if usage.license_choices.0.expression_out != usage.license_expression %}
                  <br><small>Choice does not match rule
                  <form action="{% url "cube:usage_update_license_choice" usage.pk %}" method="POST" class="form is-inline">
                    {% csrf_token %}
                    <button type="submit" class="button is-small is-inline" title="Apply new rule"><i class="fa fa-redo"></i></button></form></small>
                {% endif %}
              {% else %}
                {{ usage.license_choices|length }} rules apply. Edit rule
                {% for choice in usage.license_choices %}
                  <a href="{% url "admin:cube_licensechoice_change" choice.pk %}">
                    {{ choice.pk }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
                {% endfor %}
              {% endif %}
            </td>
            <td><a href="{% url "admin:cube_usage_change" usage.id %}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if to_resolve %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some components need an explicit license choice</p>
      </div>
      <div class="message-body">
        Those license Expressions contain several licenses. Choose whether you want to use one of them or every of them
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Scope</th>
          <th>Component</th>
          <th>Version</th>
          <th>License expression</th>
          <th>Add choice</th>
          <th>Edit usage</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in to_resolve %}
          <tr>
            <td>{{usage.scope }} </td>
            <td><a href="{%  url "cube:component_detail" usage.version.component.id %}" target="_blank">{{usage.version.component.name }}</a> </td>
            <td><a href="{% url "admin:cube_version_change" usage.version.id %}" target="_blank">{{usage.version.version_number }}</a></td>
            <td>{{usage.version.effective_license }} </td>
            <td>
              <a href="{% url 'admin:cube_licensechoice_add' %}">Add choice rule</a>
            </td>
            <td><a href="{% url "admin:cube_usage_change" usage.id %}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p> 
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the components used have a license associated for the usage in this product.
      </div>
    </article>

  {% endif %}

  <h4 class="title is-4">Step 5 - Check licenses against policy</h4>

  {% if derogations %}
    <p>
      In addition to your Open Source Licence Policy, the following licences are authorized for this release:
    </p>

    <table class="table is-bordered is-striped">
      <thead>
        <tr>
          <th>License</th>
          <th>Applicable to...</th>
          <th>Justification</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for derogation in derogations %}
          <tr>
            <td>
              <a href="/license/{{derogation.license.id}}"
                <span class="tag {{ derogation.license|getColorTag }}">
                  {{ derogation.license.spdx_id }}
                </span>>
              </a>
            </td>
            <td>
              {% if derogation.scope %} 
                the <strong>{{derogation.scope}}</strong> scope of this release
              {% elif derogation.usage%} 
                {{derogation.usage.version}} in the scope <strong>{{derogation.usage.scope}}</strong> of this release
              {% else%}
                Any component in any scope of this release.
              {%endif%}
            </td>
            <td>
              {{derogation.justification|default:"No justification given"|truncatewords:13}}...
            </td>
            <td>
              <a href="/admin/cube/derogation/{{derogation.id}}/change/" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a> |
              <a href="/admin/cube/derogation/{{derogation.id}}/delete/" target="_blank"><span class="icon"><i class="fas fa-trash"></i></span></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if usages_lic_red %}
    <article class="message is-danger">
      <div class="message-header">
        <p>Some components use forbiden licenses</p>
      </div>
      <div class="message-body">
        The following <strong>{{usages_lic_red|length}}</strong> components use licenses that are forbidden by your policy:
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>SPDX expression</th>
          <th>Corrected expression</th>
          <th>License usage</th>
          <th>Applicable Licenses</th>
          <th>Scope</th>
          <th>Allow this licence for...</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in usages_lic_red %}
          <tr>
            <td>{{usage.version.component.name }} </td>
            <td>{{usage.version.version_number }}</td>
            <td>{{usage.version.spdx_valid_license_expr }} </td>
            <td>{{usage.version.corrected_license }} </td>
            <td>{{usage.license_expression }} </td>
            <td>
              {% for license_chosen in usage.licenses_chosen.all %}
                <a href="/license/{{license_chosen.id}}"
                  <span class="tag {{ license_chosen|getColorTag }}">
                    {{ license_chosen.spdx_id }}
                  </span>
                </a>
              {% endfor %}
            </td>
            <td>{{usage.scope }}</td>
            <td>
              <a href="{% url 'cube:release_add_derogation' usage.release.id usage.id %}"> Add Derogation </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}

  {% if usages_lic_orange %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some components use context conditionned licenses</p>
      </div>
      <div class="message-body">
        The following <strong>{{usages_lic_orange|length}}</strong> are under a license, the validity of which depends on the context: please check them
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>SPDX-Valid License</th>
          <th>Corrected expression</th>
          <th>License usage</th>
          <th>Applicable Licenses</th>
          <th>Scope</th>
          <th>Allow this licence for...</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in usages_lic_orange %}
          <tr>
            <td>{{usage.version.component.name }} </td>
            <td>{{usage.version.version_number }}</td>
            <td>{{usage.version.spdx_valid_license_expr }} </td>
            <td>{{usage.version.corrected_license }} </td>
            <td>{{usage.license_expression }} </td>
            <td>
              {% for license_chosen in usage.licenses_chosen.all %}
                <a href="/license/{{license_chosen.id}}"
                    <span class="tag {{ license_chosen|getColorTag }}">
                      {{ license_chosen.spdx_id }}
                    </span>
                  </a>
              {% endfor %}
            </td>
            <td>{{usage.scope }}</td>
            <td>
              <a href="{% url 'cube:release_add_derogation' usage.release.id usage.id %}"> Add Derogation </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}

  {% if step_5_valid %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the components use policy compliant licences.
      </div>
    </article>
  {% endif %}

{% endblock %}
