<!--
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ object.product.name }} {{object.release_number}}{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:product_detail' object.product.id %}">{{ object.product.name }}</a></li>
    <li>{{object.release_number}}</li>
    <li>Validation</li>
  </ul>
{% endblock %}
{% block herozone %}
  <div class="hero-body">
    <p class="title">Release: {{object.release_number}}</p>
  </div>
{% endblock %}
{% block content %}

  {% include "cube/includes/release_tabs.html" with active_tab="validation" %}
  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li>
        <a href="{% url "cube:release_validation_step_1" object.id %}">
          <span class="icon is-small">
            {% if release.valid_step < 1 %}<i class="fas fa-times" aria-hidden="true"></i>
            {% else %}<i class="fas fa-check" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Valid SPDX</span>
        </a>
      </li>
      <li class="is-active">
        <a>
          <span class="icon is-small">
            {% if to_confirm %}<i class="fas fa-times" aria-hidden="true"></i>
            {% else %}<i class="fas fa-check" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Confirm ANDs</span>
        </a>
      </li>
      <li>
        <a href="{% url "cube:release_validation_step_3" object.id %}">
          <span class="icon is-small">
            {% if release.valid_step < 3 %}<i class="fas fa-times" aria-hidden="true"></i>
            {% else %}<i class="fas fa-check" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Define exploitations</span>
        </a>
      </li>
      <li>
        <a href="{% url "cube:release_validation_step_4" object.id %}">
          <span class="icon is-small">
            {% if release.valid_step < 4 %}<i class="fas fa-times" aria-hidden="true"></i>
            {% else %}<i class="fas fa-check" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>License choices</span>
        </a>
      </li>
      <li>
        <a href="{% url "cube:release_validation_step_5" object.id %}">
          <span class="icon is-small">
            {% if release.valid_step < 5 %}<i class="fas fa-times" aria-hidden="true"></i>
            {% else %}<i class="fas fa-check" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Check policy</span>
        </a>
      </li>
      <li>
        <a href="{% url "cube:release_validation_step_6" object.id %}">
          <span class="icon is-small">
            {% if release.valid_step < 6 %}<i class="fas fa-times" aria-hidden="true"></i>
            {% else %}<i class="fas fa-check" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Check compatibility</span>
        </a>
      </li>
    </ul>
  </div>
  {% if object.valid_step < 6 %}
    <p>You have completed  {{ object.valid_step }} out of 6 validation steps</p>
  {% else %}
    <article class="message is-success is-large">
      <div class="message-header">
        <p>Finished</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span>
        That's it ! All your usages are valid, qualified, and checked.
        You can now proceed to the check of your obligations.
      </div>
    </article>
    <hr />
  {% endif %}


  <h4 class="title is-4">Step 2 - Confirm ANDs</h4>
  {% if to_confirm %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some ANDs in license expressions need to be confirmed</p>
      </div>
      <div class="message-body">
        Please check and confirm/correct the following {{ to_confirm|length }} usages.
      </div>
    </article>

    <h5 class="title is-5">ANDs to confirm</h5>

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Component</th>
            <th>Version</th>
            <th>Used in </th>
            <th>License expression</th>
            <th>Confirm or correct</th>
            <th>Edit version</th>
          </tr>
        </thead>
        <tbody>
          {% for usage in to_confirm %}
            <tr>
              <td><a href="{% url "cube:component_detail" usage.version.component.id %}" target="_blank">{{ usage.version.component.name }}</a>
                {% if usage.version.component.homepage_url and usage.version.component.homepage_url != 'NOASSERTION' %}
                  (<a href="{{usage.version.component.homepage_url}}" target="_blank">website <span class="icon is-small"><i class="fas fa-link"></i></span></a>)
                {% else %}
                  (No website)
                {% endif %}
              </td>
              <td><a href="{% url "cube:version_update" usage.version.component.id usage.version.id %}?from={{ request.path|urlencode }}">{{ usage.version.version_number }}</a></td>
              <td>{{ usage.scope }}</td>
              <td>{{ usage.version.spdx_valid_license_expr }} </td>
              <td>{% if perms.cube.add_licensecuration %}
                <a href="{% url 'cube:release_andsvalidation_create' usage.id %}">Confirm / Correct</a>
              {% endif %}</td>
              <td>{% if perms.cube.change_version %}
                <a href="{% url "cube:version_update" usage.version.component.id usage.version.id %}?from={{ request.path|urlencode }}"><span class="icon"><i class="fas fa-edit"></i></span></a>
              {% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% elif object.valid_step >= 2 %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the ANDs present in SPDX expressions have been confirmed or corrected.
      </div>
    </article>
  {% else %}
    <article class="message is-info">
      <div class="message-header">
        <p>Waiting for previous steps</p>
      </div>
      <div class="message-body">
        Validate step 1 to check ANDs which need to be confirmed or corrected.
      </div>
    </article>
  {% endif %}

  {% if corrected or confirmed %}
    <p>List <a href="{% url "cube:release_ands_validations" object.id %}">{{ corrected|length }} corrections and
      {{ confirmed|length }} confirmations</a> for this release.</p>
  {% endif %}


{% endblock %}
