<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}
{% block title %}Create usage{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li>Hermine</li>
    <li><a href="{% url 'cube:product_detail' release.product.id %}">{{ release.product.name }}</a></li>
    <li><a href="{% url 'cube:release_validation' release.id %}">{{ release.release_number }}</a></li>
    <li>Add usage</li>
  </ul>
{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">{{release}} - Add usage</p>
  </div>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
      {{ form.media }}
      <tr>
        <td></td><td><input class="button is-primary" type="submit" value="Add usage" /></td>
      </tr>
    </table>
  </form>
{% endblock %}