<nav class="navbar navbar-headerbar theme"></nav>
<nav class="navbar navbar-fixed-top navbar-headerbar theme">
  <div class="container navbar-brands">
    <div class="navbar-header">
      <a href="http://amadeus.com">
        <img alt="Logo of Amadeus IT Group" class="logo-amadeus"
             src="{{ request.static_url('oscad:static/img/amadeus.png') }}" /></a>
      <hr class="vertical brand-separator" />
      <a href="http://www.telekom.com">
        <img alt="Logo of Deutsche Telekom" class="logo-telekom"
             src="{{ request.static_url('oscad:static/img/telekom.png') }}" /></a>
    </div>
  </div>
</nav>
