# Before launching gfi-bot, you need to set the following variables, and rename this file to .env:
# MongoDB port
RECLIC_MONGO_PORT=127.0.0.1:27020
# Backend port
RECLIC_BACKEND_PORT=127.0.0.1:5000
# Frontend port
RECLIC_HTTPS_PORT=443
RECLIC_HTTP_PORT=80
# Data directory (Optional)
RECLIC_DATA_DIR=~/reclic-data
# Domain
RECLIC_DOMAIN=dev.licenserec.com
# Container name (Optional)
COMPOSE_PROJECT_NAME=reclic_$(whoami)
# Backend Url
REACT_APP_BASE_URL=https://reclic.com
# Github token
GITHUB_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx