<!DOCTYPE html>
<html lang="{{ request.localizer.locale.language }}">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}OSCAd{% endblock %}</title>
    {%- include 'css.jinja2' -%}
    {%- include 'favicon.jinja2' -%}
  </head>
  <body>
    {%- include 'headerbar.jinja2' ignore missing -%}
    {%- include 'navigation.jinja2' -%}

    {%- if request.session.peek_flash() -%}
    <div class="container">
      {%- for message in request.session.pop_flash() -%}
      <div class="alert alert-info">
        {{ message }}
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
    <div class="container">
      {%- block content %}{%- endblock -%}
    </div>
    {%- include 'javascript.jinja2' -%}
  </body>
</html>
