<div>
  <script type="text/javascript"
          src="{{ request.static_url('oscad:jquery/jquery-2.0.3.min.js') }}">
  </script>
  <script type="text/javascript"
          src="{{ request.static_url('oscad:bootstrap/js/bootstrap.min.js') }}">
  </script>
</div>
