<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2024 Maud Royer <hello@maudroyer.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}Delete curation{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url "cube:licensecuration_list" %}">Curations</a></li>
    <li><a href="{% url 'cube:licensecuration_update' object.id %}">{{ object.condition_display }}</a></li>
    <li>Delete</li>
  </ul>
{% endblock %}
{% block herozone %}
  <h1 class="title">Delete license curation for <em>{{ object.condition_display }}</em></h1>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete license curation for <em>{{ object.condition_display }}</em>&nbsp;?</p>
    {{ form }}
    <input type="submit" value="Confirm" class="button is-primary">
  </form>
{% endblock %}
