@import "bootstrap/variables";

.navbar-brand img {
    height: 20px;
}

.disclaimer {
  margin-top: 3ex;
}

.panel .panel-body, p {
  text-align: justify;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}

.result-answer-label {
  padding-bottom: 2ex;
}

tr td:last-child .btn {
  width: 100%;
}

.multicolumn-cell {
  ul:first-child {
    margin-top: 0;
  }

  .radio {
    margin-bottom: 0;
    margin-top: 0;
    min-height: 0;
  }

  ul {
    -moz-column-width: 8em;
    -webkit-column-width: 8em;
    column-width: 8em;
  }
}

a.help-link  {
  color: #333;

  &:hover .glyphicon-question-sign {
      opacity: 1;
  }

  .glyphicon-question-sign {
      opacity: 0.3;
  }
}

.company-logos {
  margin-top: 15px;

  figure {
    display: inline-block;
    margin-left:15px;
    margin-right: 15px;
  }
}

.headerbar-second {
  margin-bottom: 0px;

  div {
    margin-bottom: 0px;
  }

  &.navbar-fixed-top {
    top: 50px;
  }
}

@media (min-width: $screen-sm-max) {
  .inline.hidden-sm.hidden-xs {
    display: inline !important;
  }
}

pre.license-raw {
  word-break: normal;
}
