body {
    overflow: hidden;
}

#svgGraph {
    position: relative;
    width: 300px;
    max-height: 300px;
    margin: 20px;
}
#svgGraph svg {
    background-color: white;
    width: 100%;
    max-height: 300px;
}
input#svgCheckbox[type="checkbox"] {
    position: relative;
    z-index: 10000;
}
input#svgCheckbox[type="checkbox"] ~ #svgGraph {
    z-index: 10;
}
input#svgCheckbox[type="checkbox"]:checked ~ #svgGraph {
    z-index: 1000;
}
input#svgCheckbox[type="checkbox"]:checked ~ #svgGraph svg {
    box-shadow: 0px 0px 20px  gray;
}

header, #content {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 5px 20px  gray;
    padding: 10px;
}

header {
    width: 300px;
    display: table;
    padding: 20px;
    z-index: 9999;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 340px;
    overflow: scroll;
    z-index: 100;
}
/* #content ~ input[type="checkbox"] {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
}
#content input[type="checkbox"] ~ div {
    display:none;
}
#content input[type="checkbox"]:checked ~ div {
    display:block;
} */