body {
    overflow: hidden;
}

#content {
    position: fixed;
    display: inline;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

header, #popup {
    background-color: rgba(255, 255, 255, 0.501);
    box-shadow: 10px 5px 20px  gray;
    padding: 10px;
}

header {
    width: 300px;
    display: table;
    padding: 20px;
}

#popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 80%;
    overflow: scroll;
    /* left: 370px; */
    /* bottom: 50px; */
}
#popup input[type="checkbox"] {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
}
#popup input[type="checkbox"] ~ div {
    display:none;
}
#popup input[type="checkbox"]:checked ~ div {
    display:block;
}

#svgGraph {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* form, input {
    padding: 5px;
} */
/* input[type='checkbox'] {
    display: block;
} */