<nav class="navbar navbar-headerbar theme"></nav>
<nav class="navbar navbar-fixed-top navbar-headerbar theme">
  <div class="container text-center">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://amadeus.com">
        <img class="img-responsive"
             alt="Logo of Amadeus IT Group SA"
             src="{{ request.static_url('oscad:static/img/amadeus_headerbar.png') }}" />
      </a>
      <p class="navbar-text hidden-xxs">
        Let's shape the future of travel
      </p>
    </div>
  </div>
</nav>
