name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    #   with:
    #     submodules: true
    - name: non recursive submodule checkout
      run: |
        mkdir ~/.ssh
        ssh-keyscan -t rsa gitlab.com >> ~/.ssh/known_hosts
        git submodule update --init

    - uses: haskell/actions/setup@v2
      with:
        ghc-version: '9.2.7' # Exact version of ghc to use
        # cabal-version: 'latest'. Omitted, but defaults to 'latest'
        enable-stack: true
        stack-version: 'latest'

    - name: Cache
      uses: actions/cache@v1
      env:
        cache-name: cache-stack
      with:
        path: ~/.stack
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.yaml') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - run: |
        sudo apt-get update
        sudo apt-get install -y graphviz libghc-curl-dev

    - run: stack build
    - run: stack test
    - run: time stack run -- write BSD-3-Clause
    - uses: actions/upload-artifact@v2
      with:
        name: out
        path: _out

  build-docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    #   with:
    #     submodules: true
    - name: non recursive submodule checkout
      run: |
        mkdir ~/.ssh
        ssh-keyscan -t rsa gitlab.com >> ~/.ssh/known_hosts
        git submodule update --init
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - run: |
        ./docker/docker-build.sh
