<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <form>
        <div class="field has-addons">
          <div class="control">
            <label class="is-sr-only" for="search_field">Search</label>
            <input id="search_field" class="input" name="search" placeholder="Search" value="{{ query }}" />
          </div>
          <div class="control">
            <button class="button" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <nav class="pagination" role="navigation" aria-label="Pagination">
        <ul class="pagination-list">
          {% if page_obj.number > 2 %}
            <li>
              <a class="pagination-link"
                 href="?page=1&search={{ query }}"
                 aria-label="Go to first page"
              >
                1
              </a>
            </li>
          {% endif %}
          {% if page_obj.number > 3 %}
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
          {% endif %}
          {% if page_obj.has_previous %}
            <li>
              <a class="pagination-link"
                 href="?page={{ page_obj.previous_page_number }}&search={{ query }}"
                 aria-label="Go to page {{ page_obj.previous_page_number }}"
              >
                {{ page_obj.previous_page_number }}
              </a>
            </li>
          {% endif %}
          <li>
            <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page">
              {{ page_obj.number }}
            </a>
          </li>
          {% if page_obj.has_next %}
            <li>
              <a class="pagination-link"
                 href="?page={{ page_obj.next_page_number }}&search={{ query }}"
                 aria-label="Go to page {{ page_obj.next_page_number }}"
              >
                {{ page_obj.next_page_number }}
              </a>
            </li>
          {% endif %}
          {% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
          {% endif %}
          {% if page_obj.number < page_obj.paginator.num_pages|add:"-1" %}
            <li>
              <a class="pagination-link"
                 href="?page={{ page_obj.paginator.num_pages }}&search={{ query }}"
                 aria-label="Go to last page"
              >
                {{ page_obj.paginator.num_pages }}
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>

