<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
<div class="columns is-6">
  <div class="column">
    <form class="hermine-filter-form">
      <div class="hermine-filter-form__row">
        {% if search_form %}
          <div class="field has-addons">
            <label class="is-sr-only" for="search_field">Search</label>
            <div class="control">
              <input id="search_field" class="input" name="search" placeholder="Search"
                     value="{{ search_form.search.value|default_if_none:"" }}"/>
            </div>
            <div class="control">
              <button class="button" type="submit">Search</button>
            </div>
          </div>
        {% endif %}
        {% for field in filter.form %}
          {% if field.name in filter.collapsible_fields %}
          {% elif field.name|slice:"0:6" == 'search' %}
            <div class="field">
              <label class="label">{{ field.label }}</label>
              <div class="field bulma has-addons">
                <div class="control is-expanded">
                  <input id="{{ field.name }}_field" class="input" name="{{ field.name }}"
                         value="{{ field.value|default_if_none:"" }}"/>
                </div>
                <div class="control">
                  <button class="button" type="submit" aria-label="Search"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          {% else %}
            <div class="field bulma">
              <label for="{{ field.name }}">{{ field.label }}</label>
              <div class="control">
                {{ field }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% if filter.collapsible_fields %}
        <details class="mt-4">
          <summary class="has-text-link has-text-right" style="cursor: pointer;">
            View more filters
          </summary>
          <div class="hermine-filter-form__row is-justify-content-flex-end">
            {% for field in filter.form %}
              {% if field.name in filter.collapsible_fields %}
                <div class="field bulma">
                  <label for="{{ field.name }}">{{ field.label }}</label>
                  <div class="control">
                    {{ field }}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </details>
      {% endif %}
    </form>
  </div>
</div>

